<!DOCTYPE html>
<html lang="en">

<html>
  <head>
    <meta charset="utf-8" />
    <title>Web Cars</title>
    <script>document.write('<base href="' + document.location + '" />');</script>

    <!-- css / own + bootstrap -->
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css">

    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
    <script src="http://code.angularjs.org/1.2.4/angular-route.js"></script>

    <!-- restangular + dependency -->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script type="text/javascript" src="restangular.js"></script>

    <!-- maps -->
    <script src="lodash.js"></script>
    <script src="angular-google-maps.js"></script>

    <!-- localstorage lib -->
    <script src="appstorage.js"></script>
    <!-- angullarjs application -->
    <script src="app.js"></script>
  </head>

  <body>
    <div ng-app="car">

    <div class="navbar navbar-static-top navbar-inverse">
    <div class="navbar-inner">
    <a class="brand" href="#">Web Cars</a>
    <ul class="nav">
    <li class="active"><a href="#">Home</a></li>
    <li><a href="#/settings">Settings</a></li>
    <li><a href="#/contact">Contact</a></li>
    </ul>
    </div>
    </div>
    
    <br>
    
    <div ng-view></div>
    
    <!-- CACHE FILE: list.html -->
    <script type="text/ng-template" id="list.html">
        <div class="container-fluid">
            <h3>Hi  {{myAppStorage.username}}, the following cars are waiting for you</h3>
            Search: <input type="text" ng-model="search" class="search-query" placeholder="Search">
            <table class="table table-bordered table-hover">
                <thead>
                <tr>
                <th>Pos.</th>
                <th>Car</th>
                <th>Available cars</th>
                <th>Price in {{myAppStorage.currency.id}}</th>
                </tr>
                </thead>
                <tbody>
                <tr ng-repeat="car in cars | filter:search | orderBy:'id'" ng-show="car.id">
                <td>{{car.id}}</td>   
                <td><a href="#/book/{{car.id}}"><i class="icon-road"></i> {{car.name}}</a></td>
                <td>{{car.quantity}}</td>
                <td>{{car.price}}</td>
                </tr>
                </tbody>
            </table>
        </div>
    </script>
  
      <!-- CACHE FILE: book.html  -->
    <script type="text/ng-template" id="book.html">
        <div class="container-fluid">
            <div class="row-fluid">
                <div class="span4">
                    <h2>{{car.name}}</h2>
                    <form name="myForm">
                    <div class="control-group" ng-class="{error: myForm.name.$invalid}">
                        <input type="hidden" name="id" ng-model="car.id" required>
                        <label>Price: {{myAppStorage.currency.id}} {{car.price}}</label>
                        <label>Only {{car.quantity}} on stock!</label>
                        
                    
                        <label>Notes</label>
                        <textarea name="notes"></textarea>
                    
                        <br>
                        <a href="#/" class="btn">Cancel</a>
                        <button ng-click="save()" 
                                class="btn btn-primary">Book now</button>
                        <button ng-click="destroy()"
                                ng-show="car._id" class="btn btn-danger">Delete</button>
                        </form>
                    </div>
                </div>
                <div class="span8">
                    <img ng-src="/img/{{car.id}}.jpg" >
                </div>
            </div>
        </div>
    </script>

     <!-- CACHE FILE: settings.html  -->
    <script type="text/ng-template" id="settings.html">
        <div class="container-fluid">
            <div class="form-group">
                <label for="username">Username</label>
                <input type="text" id="username" ng-model="myAppStorage.username"></input>
            </div>
            <div class="form-group">
                <label for="currency">Prefered currency</label>
                <select id="currency" ng-model="myAppStorage.currency" ng-options="currency as currency.id for currency in currencies track by currency.id"></select>
            </div>
            <div class="checkbox">
                <label>Remember me
                    <input type="checkbox" ng-model="myAppStorage.rememberMe"></input>
                </label>
            </div>
            <button ng-click="close()" class="btn btn-primary">Save</button>
            
            <br><br>
            <p>
                <a href="#/new"><i class="icon-road"></i></a> Local Storage: {{myAppStorage}}
            </p>
        </div>
    </script>


    
        <!-- CACHE FILE: contact.html  -->
    <script type="text/ng-template" id="contact.html">
        <h2>You can find us here</h2>
        <div class="container-fluid">
            <div class="span4">
                <address>
                    <strong>Fun Cars Internationlal GmbH (HQ)</strong><br>
                    Park Ring 2<br>
                    1010 Wien<br>
                    Austria<br
                    <abbr title="Phone">Phone: </abbr> +43 5 44210 100
                </address>
                <button ng-click="center_vie()" class="btn btn-primary">Show on map</button>
            </div>
            <div class="span4">
                <address>
                    <strong>Fun Cars Internationlal GmbH</strong><br>
                    Red Bull Ring Str. 1<br>
                    8724 Spielberg<br>
                    Austria<br
                    <abbr title="Phone">Phone: </abbr> +43 5 44210 200
                </address>
                <button ng-click="center_sp()" class="btn btn-primary">Show on map</button>
            </div>
            <div class="span4">
                <address>
                    <strong>Fun Cars Intergalactical Inc.</strong><br>
                    Twin Peaks Rd. 1<br>
                    Mars<br>
                    SOL-System<br>
                    Milky Way Galaxy<br>
                    Known Universe 1<br>
                    <abbr title="Phone">Phone: </abbr> +43 5 44210 200
                </address>
                
            </div>
            <div class="span12">
                <br>
                <ui-gmap-google-map
                        center='map.center'
                        zoom='map.zoom'
                        draggable="true"
                        options="options">
                    <ui-gmap-marker
                            coords="marker_vie.coords"
                            options="marker_vie.options"
                            idkey="marker_vie.id">
                    </ui-gmap-marker>
                    <ui-gmap-marker
                            coords="marker_sp.coords"
                            options="marker_sp.options"
                            idkey="marker_sp.id">
                    </ui-gmap-marker>
                </ui-gmap-google-map>

            </div>
        </div>
    </script>
    
    </div>
  </body>
</html>

