<!DOCTYPE html>

<html>

  <head>
    <meta charset="utf-8" />
    <title>AngularJS Plunker</title>
    <script>document.write('<base href="' + document.location + '" />');</script>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="http://getbootstrap.com/2.3.2/assets/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.4/angular.js"></script>
    <script src="http://code.angularjs.org/1.2.4/angular-route.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script type="text/javascript" src="restangular.js"></script>
    <script src="app.js"></script>
  </head>

  <body>
    <div ng-app="car">
    <h2>Web Cars</h2>
    <div ng-view></div>
  
  
  
    <!-- CACHE FILE: list.html -->
    <script type="text/ng-template" id="list.html">
      <input type="text" ng-model="search" class="search-query" placeholder="Search">
      <table>
        <thead>
        <tr>
          <th>No.</th>
          <th>Car</th>
          <th>Price</th>
          <th><a href="#/new"><i class="icon-plus-sign"></i></a></th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="car in cars | filter:search | orderBy:'id'" ng-show="car.id">
          <td>{{car.id}}</td>
          <td><a href="{{car.id}}" target="_blank">{{car.name}}</a></td>
          <td>{{car.price}}</td>
          <td>
            <a href="#/book/{{car.id}}"><i class="icon-pencil"></i></a>
          </td>
        </tr>
        </tbody>
      </table>
    </script>
  
      <!-- CACHE FILE: book.html  -->
    <script type="text/ng-template" id="book.html">
      <h3>{{car.name}}</h3>
      <form name="myForm">
        <div class="control-group" ng-class="{error: myForm.name.$invalid}">
          <input type="hidden" name="id" ng-model="car.id" required>
          <label>Price: {{car.price}}</label>
          <label>Only {{car.quantity}} on stock!</label>
          <img ng-src="/img/{{car.id}}.jpg" width="50%">
     
          <label>Notes</label>
          <textarea name="notes"></textarea>
      
        <br>
        <a href="#/" class="btn">Cancel</a>
        <button ng-click="save()" 
                class="btn btn-primary">Book now</button>
        <button ng-click="destroy()"
                ng-show="car._id" class="btn btn-danger">Delete</button>
      </form>

    </script>

  
    <!-- CACHE FILE: detail.html  -->
    <script type="text/ng-template" id="detail.html">
      <form name="myForm">
        <div class="control-group" ng-class="{error: myForm.name.$invalid}">
          <label>Name</label>
          <input type="text" name="name" ng-model="car.name" required>
          <span ng-show="myForm.name.$error.required" class="help-inline">
              Required</span>
        </div>
      
        <div class="control-group" ng-class="{error: myForm.site.$invalid}">
          <label>Website</label>
          <input type="url" name="site" ng-model="car.price" required>
          <span ng-show="myForm.site.$error.required" class="help-inline">
              Required</span>
          <span ng-show="myForm.site.$error.url" class="help-inline">
              Not a URL</span>
        </div>
      
        <label>Description</label>
        <textarea name="description" ng-model="car.price"></textarea>
      
        <br>
        <a href="#/" class="btn">Cancel</a>
        <button ng-click="save()" ng-disabled="isClean() || myForm.$invalid"
                class="btn btn-primary">Save</button>
        <button ng-click="destroy()"
                ng-show="car._id" class="btn btn-danger">Delete</button>
      </form>
    </script>






  </div>

  </body>

</html>

