<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Web Cars</title>
    <script>document.write('<base href="' + document.location + '" />');</script>

    <!-- css / own + bootstrap -->
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- angular -->
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.3.15/angular-route.js"></script>
    <!-- ui bootstrap -->
    <script src="ui-bootstrap-tpls-0.12.1.js"></script>

    <!-- restangular + dependency -->
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.4.4/underscore-min.js"></script>
    <script type="text/javascript" src="restangular.js"></script>

    <!-- maps -->
    <script src="lodash.js"></script>
    <script src="angular-google-maps.js"></script>

    <!-- localstorage lib -->
    <script src="appstorage.js"></script>
    <!-- angullarjs application -->
    <script src="app.js"></script>
  </head>

  <body>
    <div ng-app="car">

    <nav class="navbar navbar-default navbar-static-top navbar-inverse">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Web Cars</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="#/">Home</a></li>
                <li><a href="#/settings">Settings</a></li>
                <li><a href="#/contact">Contact</a></li>
            </ul>
        </div>
    </nav>

    <div ng-view class="container-fluid" id="content">
    
    <!-- CACHE FILE: list.html -->
    <script type="text/ng-template" id="list.html">
            <h3>Hi  {{myAppStorage.username}}, the following cars are waiting for you</h3>
            <div class="form-inline">
                <label for="search" class="col-sm-2 control-label">Search</label>
                <div class="col-sm-10">
                    <input id="search" type="text" ng-model="search" class="form-control" placeholder="Search">
                </div>
            </div>
            <br>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Car</th>
                        <th>Available cars</th>
                        <th>Price in {{myAppStorage.currency.id}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="car in cars | filter:search | orderBy:'id'" ng-show="car.id">
                        <td>{{car.id}}</td>   
                        <td><a href="#/book/{{car.id}}"><i class="icon-road"></i> {{car.name}}</a></td>
                        <td>{{car.quantity}}</td>
                        <td>{{car.price}}</td>
                    </tr>
                </tbody>
            </table>
    </script>
  
    <!-- CACHE FILE: book.html  -->
    <script type="text/ng-template" id="book.html">
        
            <button class="btn btn-default" ng-click="open()">Notify Dialog</button>
                        <button class="btn btn-default" ng-click="open()">Open me!</button>
            <button class="btn btn-default" ng-click="open('lg')">Large modal</button>
            <button class="btn btn-default" ng-click="open('sm')">Small modal</button>
            <div ng-show="selected">Selection from a modal: {{ selected }}</div>
            
        <div class="row">
            <div class="col-md-12">
                <h2>{{car.name}}</h2>
            </div>
            <div class="col-md-5">
                <form class="form-horizontal" name="myForm">
                    <input type="hidden" name="id" ng-model="car.id" required>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label>Price:</label>
                        </div>
                        <div class="col-sm-8">
                            {{myAppStorage.currency.id}} {{car.price}}
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label>Availability:</label>
                        </div>
                        <div class="col-sm-8">
                            Only {{car.quantity}} on stock!
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4">
                            <label>Notes</label>
                        </div>
                        <div class="col-sm-8">
                            <textarea name="notes"></textarea>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="col-sm-4"> </div>
                        <div class="col-sm-8">
                            <button ng-click="cancel()" class="btn btn-default">Cancel</button>
                            <button ng-click="save()" class="btn btn-primary">Book now</button>
                        </div>
                    </div>
                </form>
            </div>
            <div class="col-md-7">
                <img ng-src="/img/{{car.id}}.jpg" class="img-responsive">
            </div>
        </div>
    </script>
    
    <!-- CACHE FILE: modal.html  -->
    <script type="text/ng-template" id="modal.html">
        <div ng-controller="ModalDemoCtrl">
            <div class="modal-header">
                <h3 class="modal-title">I'm a modal!</h3>
            </div>
            <div class="modal-body">
                <ul>
                    <li ng-repeat="item in items">
                        <a ng-click="selected.item = item">{{ item }}</a>
                    </li>
                </ul>
                Selected: <b>{{ selected.item }}</b>
            </div>
            <div class="modal-footer">
                <button class="btn btn-primary" ng-click="ok()">OK</button>
                <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
            </div>
        </div>
    </script>



    <!-- CACHE FILE: settings.html  -->
    <script type="text/ng-template" id="settings.html">
        <form class="form-horizontal">
            <div class="form-group">
                <label for="username" class="col-sm-2 control-label">Username</label>
                <div class="col-sm-6">
                    <input type="text" class="form-control" id="username" ng-model="myAppStorage.username"></input>
                </div>
            </div>
            <div class="form-group">
                <label for="currency" class="col-sm-2 control-label">Prefered currency</label>
                <div class="col-sm-4">
                    <select id="currency" class="form-control"  
                        ng-model="myAppStorage.currency" ng-options="currency as currency.id for currency in currencies track by currency.id"></select>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                <div class="checkbox">
                    <label>
                        <input type="checkbox" ng-model="myAppStorage.rememberMe"> Remember me
                    </label>
                </div>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button ng-click="close()" class="btn btn-primary">Save</button>
                </div>
            </div>
            <div class="form-group">
                <label for="debug" class="col-sm-2 control-label"></label>
                <div class="col-sm-4">
                    <a href="#/new"><i class="icon-road"></i></a> Local Storage: {{myAppStorage}}
                </div>
            </div>
        </form>
    </script>


    <!-- CACHE FILE: contact.html  -->
    <script type="text/ng-template" id="contact.html">
        <h2>You can find us here</h2>
        <div class="row">
            <div class="col-md-4">
                <address>
                    <strong>Fun Cars Internationlal GmbH (HQ)</strong><br>
                    Park Ring 2<br>
                    1010 Wien<br>
                    Austria<br
                    <abbr title="Phone">Phone: </abbr> +43 5 44210 100
                </address>
                <button ng-click="center_vie()" class="btn btn-primary">Show on map</button>
            </div>
            <div class="col-md-4">
                <address>
                    <strong>Fun Cars Internationlal GmbH</strong><br>
                    Red Bull Ring Str. 1<br>
                    8724 Spielberg<br>
                    Austria<br
                    <abbr title="Phone">Phone: </abbr> +43 5 44210 200
                </address>
                <button ng-click="center_sp()" class="btn btn-primary">Show on map</button>
            </div>
            <div class="col-md-4">
                <address>
                    <strong>Fun Cars Intergalactical Inc.</strong><br>
                    Twin Peaks Rd. 1<br>
                    Mars<br>
                    SOL-System<br>
                    Milky Way Galaxy<br>
                    Known Universe 1<br>
                    <abbr title="Phone">Phone: </abbr> +43 5 44210 200
                </address>
                
            </div>
            <div class="col-md-12">
                <br>
                <ui-gmap-google-map
                        center='map.center'
                        zoom='map.zoom'
                        draggable="true"
                        options="options">
                    <ui-gmap-marker
                            coords="marker_vie.coords"
                            options="marker_vie.options"
                            idkey="marker_vie.id">
                    </ui-gmap-marker>
                    <ui-gmap-marker
                            coords="marker_sp.coords"
                            options="marker_sp.options"
                            idkey="marker_sp.id">
                    </ui-gmap-marker>
                </ui-gmap-google-map>
            </div>
        </div>
    </script>
    
    </div>
    </div>
  </body>
</html>

